<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("../partials/errors.ejs") %>

  <form action="/characters/add" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" required>

    <label for="race">Race: </label>
    <select id="race" name="race" required>
      <% races.forEach(race => { %>
        <option 
          value="<%= race.name %>"
        >
          <%= race.name %>
        </option>
      <% });%>
    </select>

    <label for="birth">Birth: </label>
    <input type="text" name="birth" id="birth" max="50">

    <label for="death">Death: </label>
    <input type="text" name="death" id="death" max="50">

    <label for="gender">Race: </label>
    <select id="gender" name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>

    <label for="realm">Realm: </label>
    <select name="realm" id="realm" required>
      <% realms.forEach(realm => { %>
        <option 
          value="<%= realm.name %>"
        >
          <%= realm.name %>
        </option>
      <% });%>
    </select>

    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>