<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %>

  <form action="/characters/<%= char.id %>/update" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="<%= char.name %>" required>

    <label for="race">Race: </label>
    <select id="race" name="race" required>

      <% races.forEach(race => { %>
        <% let selected = ""; %>
        <% if (race.name === char.race) { selected = "selected"; }%>
          <option 
            value="<%= race.name %>"
            <%- selected %>
          >
            <%= race.name %>
          </option>
      <% }); %>
    </select>

    <label for="birth">Birth:</label>
    <input type="text" name="birth" id="birth" max="50" value="<%= char.birth %>">

    <label for="death">Death:</label>
    <input type="text" name="death" id="death" max="50" value="<%= char.death %>">

    <label for="gender">Gender: </label>
    <select id="gender" name="gender">
      <% let selectMale = ""; let selectFemale =""; %>
      <% if (char.gender === "Male") { %>
        <% selectMale = "selected"; %>
        <% } else { selectFemale = "selected"; } %>
        <option 
          value="Male"
          <%- selectMale %>
        >
          Male
        </option>
        <option 
          value="Female"
          <%- selectFemale %>
        >
          Female
        </option>
    </select>

    <label for="realm">Realm: </label>
    <select name="realm" id="realm" required>
      <% realms.forEach(realm => { %>
        <% let selected = ""; %>
        <% if (realm.name === char.realm) { selected = "selected"; }%>
          <option 
            value="<%= realm.name %>"
            <%- selected %>
          >
            <%= realm.name %>
          </option>
      <% }); %>
    </select>

    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>